USE [GC_DB]
GO
/****** Object:  Table [dbo].[actes]    Script Date: 23/04/2023 23:20:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[actes](
	[acte_id] [int] NOT NULL,
	[designation] [nvarchar](50) NOT NULL,
	[description] [nvarchar](50) NULL,
	[price] [money] NOT NULL,
	[assistant] [money] NOT NULL,
 CONSTRAINT [PK_actes] PRIMARY KEY CLUSTERED 
(
	[acte_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[acting]    Script Date: 23/04/2023 23:20:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[acting](
	[acting_id] [int] NOT NULL,
	[waiting_room_id] [int] NULL,
	[acte_id] [int] NULL,
	[time] [datetime] NULL,
 CONSTRAINT [PK_acting] PRIMARY KEY CLUSTERED 
(
	[acting_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[consulting]    Script Date: 23/04/2023 23:20:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[consulting](
	[consulting_id] [int] NOT NULL,
	[status] [nvarchar](50) NULL,
	[start_time] [datetime] NULL,
	[end_time] [datetime] NULL,
	[waiting_room_id] [int] NULL,
	[doctor_id] [int] NULL,
 CONSTRAINT [PK_consulting] PRIMARY KEY CLUSTERED 
(
	[consulting_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctors]    Script Date: 23/04/2023 23:20:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctors](
	[doctor_id] [int] NOT NULL,
	[fullName] [nvarchar](50) NULL,
	[phone] [nvarchar](50) NULL,
	[speciality] [nvarchar](50) NULL,
	[room_id] [int] NULL,
 CONSTRAINT [PK_doctors] PRIMARY KEY CLUSTERED 
(
	[doctor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[patients]    Script Date: 23/04/2023 23:20:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patients](
	[record] [int] IDENTITY(1,1) NOT NULL,
	[barcode] [nvarchar](50) NOT NULL,
	[patient_id] [nvarchar](50) NOT NULL,
	[fullName] [nvarchar](50) NOT NULL,
	[date_of_birth] [date] NULL,
	[age] [int] NULL,
	[gender] [int] NULL,
	[phone] [nvarchar](50) NULL,
	[sit_f] [nvarchar](50) NULL,
	[blood_type] [nvarchar](50) NULL,
	[nationality] [nvarchar](50) NULL,
	[wilaya] [nvarchar](50) NULL,
	[region] [nvarchar](50) NULL,
	[allergies] [nvarchar](50) NULL,
	[type_ass] [nvarchar](50) NULL,
	[percentage_ass] [nvarchar](50) NULL,
	[medications] [nvarchar](50) NULL,
	[last_visit_date] [date] NULL,
	[last_visit_reason] [nvarchar](50) NULL,
	[last_visit_diagnosis] [nvarchar](1000) NULL,
	[next_appointment_date] [date] NULL,
	[notes] [nvarchar](1000) NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [PK_patients] PRIMARY KEY CLUSTERED 
(
	[barcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[records]    Script Date: 23/04/2023 23:20:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[records](
	[id_rc] [int] NOT NULL,
	[type_rc] [nchar](10) NULL,
	[date_rc] [nchar](10) NULL,
	[user] [nchar](10) NULL,
 CONSTRAINT [PK_records] PRIMARY KEY CLUSTERED 
(
	[id_rc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rooms]    Script Date: 23/04/2023 23:20:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rooms](
	[room_id] [int] NOT NULL,
	[speciality] [nvarchar](50) NULL,
	[availability] [nvarchar](50) NULL,
 CONSTRAINT [PK_rooms] PRIMARY KEY CLUSTERED 
(
	[room_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 23/04/2023 23:20:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user] [nvarchar](50) NOT NULL,
	[pass] [nvarchar](50) NULL,
	[fullName] [nvarchar](50) NULL,
	[type] [nvarchar](50) NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[waiting_room]    Script Date: 23/04/2023 23:20:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[waiting_room](
	[waiting_room_id] [int] NOT NULL,
	[patient_id] [nvarchar](50) NULL,
	[check_in_time] [datetime] NULL,
	[appointment_id] [int] NULL,
	[room_id] [int] NULL,
	[ticket_num] [int] NULL,
 CONSTRAINT [PK_waiting_room] PRIMARY KEY CLUSTERED 
(
	[waiting_room_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[acting]  WITH CHECK ADD  CONSTRAINT [FK_acting_actes] FOREIGN KEY([acte_id])
REFERENCES [dbo].[actes] ([acte_id])
GO
ALTER TABLE [dbo].[acting] CHECK CONSTRAINT [FK_acting_actes]
GO
ALTER TABLE [dbo].[acting]  WITH CHECK ADD  CONSTRAINT [FK_acting_waiting_room] FOREIGN KEY([waiting_room_id])
REFERENCES [dbo].[waiting_room] ([waiting_room_id])
GO
ALTER TABLE [dbo].[acting] CHECK CONSTRAINT [FK_acting_waiting_room]
GO
ALTER TABLE [dbo].[consulting]  WITH CHECK ADD  CONSTRAINT [FK_consulting_doctors] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[doctors] ([doctor_id])
GO
ALTER TABLE [dbo].[consulting] CHECK CONSTRAINT [FK_consulting_doctors]
GO
ALTER TABLE [dbo].[consulting]  WITH CHECK ADD  CONSTRAINT [FK_consulting_waiting_room] FOREIGN KEY([waiting_room_id])
REFERENCES [dbo].[waiting_room] ([waiting_room_id])
GO
ALTER TABLE [dbo].[consulting] CHECK CONSTRAINT [FK_consulting_waiting_room]
GO
ALTER TABLE [dbo].[doctors]  WITH CHECK ADD  CONSTRAINT [FK_doctors_rooms] FOREIGN KEY([room_id])
REFERENCES [dbo].[rooms] ([room_id])
GO
ALTER TABLE [dbo].[doctors] CHECK CONSTRAINT [FK_doctors_rooms]
GO
ALTER TABLE [dbo].[waiting_room]  WITH CHECK ADD  CONSTRAINT [FK_waiting_room_patients] FOREIGN KEY([patient_id])
REFERENCES [dbo].[patients] ([barcode])
GO
ALTER TABLE [dbo].[waiting_room] CHECK CONSTRAINT [FK_waiting_room_patients]
GO
